
.pics2{
	position: absolute; 
	left: 58%; 
	top: 50%;
}
.pics1{
	position: absolute; 
	left: 28%; 
	top: 50%;
}

 @media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px)  
{
	.pics2{
	position: absolute; 
	
	left: 58%; 
	top: 70%;
}
.pics1{
	position: absolute; 
	left: 18%; 
	top: 70%;
}
}